# Panda Data Analysis Task

In [2]:
import pandas as pd

Read Salaries.csv as a dataframe called sal

In [8]:
sal = pd.read_csv('Salaries.csv')

Check the head of the DataFrame

In [9]:
sal.head()

   Id       EmployeeName  ...         Agency  Status
0   1     NATHANIEL FORD  ...  San Francisco     NaN
1   2       GARY JIMENEZ  ...  San Francisco     NaN
2   3     ALBERT PARDINI  ...  San Francisco     NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco     NaN
4   5    PATRICK GARDNER  ...  San Francisco     NaN

[5 rows x 13 columns]

Use the .info() method to find out how many entries there are

In [10]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

What is the average BasePay ?

In [11]:
sal['BasePay'].mean()

66325.44884050643

What is the highest amount of OvertimePay  ?

In [12]:
sal['OvertimePay'].max()

245131.88

What is the job title of  JOSEPH DRISCOLL ?

In [13]:
sal[sal['EmployeeName']=="JOSEPH DRISCOLL"]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

 How much does JOSEPH DRISCOLL make (including benefits)?

In [14]:
sal[sal['EmployeeName']=="JOSEPH DRISCOLL"]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

What is the name of highest paid person (including benefits)?

In [15]:
sal[sal['TotalPayBenefits'] == max(sal['TotalPayBenefits'])]

   Id    EmployeeName  ...         Agency  Status
0   1  NATHANIEL FORD  ...  San Francisco     NaN

[1 rows x 13 columns]

What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

In [16]:
sal[sal['TotalPayBenefits'] == min(sal['TotalPayBenefits'])]

            Id EmployeeName  ...         Agency  Status
148653  148654    Joe Lopez  ...  San Francisco     NaN

[1 rows x 13 columns]

 What was the average (mean) BasePay of all employees per year? (2011-2014) ?

In [17]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

How many unique job titles are there?

In [18]:
sal['JobTitle'].nunique()

2159

What are the top 5 most common jobs?

In [28]:
sal.groupby('JobTitle').count().sort_values(by='Id', ascending=False)['Id'].head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: Id, dtype: int64

 How many Job Titles were represented by only one person in 2013?

In [29]:
job_counts_2013 = sal[sal['Year'] == 2013]['JobTitle'].value_counts()
job_counts_2013[job_counts_2013 == 1].sum()

202

How many people have the word Chief in their job title?

In [30]:
def chief(x):
    if 'chief' in x.lower().split():
        return True
    else:
        return False
    
sal['JobTitle'].apply(chief).sum()

477

477

 Is there a correlation between length of the Job Title string and Salary?

In [31]:
sal['TitleLen'] = sal['JobTitle'].apply(len)

In [32]:
sal[['TitleLen', 'TotalPayBenefits']].corr()

                  TitleLen  TotalPayBenefits
TitleLen          1.000000         -0.036878
TotalPayBenefits -0.036878          1.000000